.App {
  text-align: center;
}

.navbarStyle {
  padding: .5rem 1rem !important
}


.report-style-class{
  height: 100% !important;
}

.selected{
  background-color: rgba(25, 118, 210, 0.2);
}

.listBtn{
  background: none !important;
}