body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #000 !important;
}

.hospital{
  background-color: #fff;
  align-items: center;
  display: flex;
}

.MuiAppBar-root{
  background-color:#07774E !important;
}

.logo{
  width:136px;
  margin-top:5px;
  margin-right:5px;
}

.logtxt{
  margin-top: 18px;
  margin-left:5px;
}

.logodiv{
  display:contents;
  margin-left:5px;
  font-size:22px;
}

